body{
    margin: 0 auto;
    padding: 0;
    background-color: #FFB084;
    height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
}
section > div{
    background-color: #FFFFFF;
    border: 2px solig white;
    padding: .5rem;
    margin: 2rem;
    border-radius: 25px;
    padding-left: 2rem;
}
section div:nth-child(1){
    grid-row-start: 1;
    grid-row-end: 4;
    box-shadow: 10px 10px 10px black;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 2;
    
}
section div:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 4;
    box-shadow: 10px 10px 10px black;
    padding: 1rem 2rem;
    line-height: 1.5;
    
}
section div:nth-child(4){
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    box-shadow: 10px 10px 10px #E13535;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    padding-left: 3rem;
}
section div:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    box-shadow: 10px 10px 10px #3675B0;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
}

.name{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.img{
    text-align: center;
}
.age{
    display: flex;
    justify-content: space-between;
    
}
.text-age {
    padding-right: 3rem;
}
.bio-text{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
}
.name-bio {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
}
.frustrations{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #E13535;
    
}
.fr-item{
    padding-left: 1rem;
}
.companies{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #3675B0;
    
}
.goals {
    box-shadow: 10px 10px 10px #29A71E;
}
.goals-name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #29A71E;
}
.goals-item{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-left: 1rem;
    line-height: 1.5;

}
.text {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 4rem;
    box-shadow: 10px 10px 10px black;
}
.personality {
    box-shadow: 10px 10px 10px black;
}
.personality-name {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
.personality-teg{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    
}